# Ignore htaccess or equivalent
.htaccess
web.config

# Ignore submodules
vendor

# Patch/diff artifacts.
*.patch
*.diff
*.orig
*.rej
interdiff*.txt

# Hidden files.
.DS*
.project

# Windows links.
*.lnk

# Temporary files.
tmp*

